@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.product-pricing {
  margin-top: 2.4rem;

  @include flexPos(space-between, center, row);

  &__new {
    @include flexPos(default, center, row);
  }

  &__price {
    color: $color-blue--very-dark;
    font-size: 2.8rem;
    font-weight: 700;
    margin-right: 1.6rem;
  }

  &__discount {
    background-color: $color-orange--pale;
    border-radius: .8rem;
    color: $color-orange;
    font-weight: 700;
    padding: .4rem .8rem;
  }

  &__old-price {
    color: $color-blue--grayish;
    font-weight: 700;
    text-decoration: line-through;
  }

  @include respond-desktop {
    & {
      @include flexPos(default, flex-start, column);

      &__new {
        margin-bottom: .8rem;
      }
    }
  }
}