@mixin respond-desktop {
  @media (min-width: 1366px) {
    @content;
  }
}

@mixin flexCenter($dir) {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: $dir;
}

@mixin flexPos($x, $y, $dir) {
  align-items: $y;
  display: flex;
  flex-direction: $dir;
  justify-content: $x; 
}

@mixin absCenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}