*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

li {
  list-style: none
}

a {
  text-decoration: none;
}

body {
  @include respond-desktop {
    overflow: hidden;
    padding: 0 16.5rem;
  }
}

.menu-open {
  overflow: hidden;
  height: 100vh;

  &::before {
    background-color: rgba($color-blue--very-dark, .8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 2;
  }
}